@model Admin.Startup.Features.Foods.Models.EditPriceCommand

@{
    ViewData["Title"] = "Create Brand Page";
}

<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h2>Edit Price</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <form asp-controller="Foods" asp-action="EditPrice" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" type="number" class="form-control" id="brandName" placeholder="Enter new price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="FoodId" type="hidden" class="form-control" id="foodId" />
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</div>

@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@