@model StatisticsOutputModel

<div class="jumbotron mt-5">
    <h2 class="display-4 text-center">
        We're currently having
        <span class="badge badge-success">@Model.TotalFoodBrands Food Brands </span> & <span class="badge badge-success"> @Model.TotalFoodViews Foods</span>
    </h2>
</div>